.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  color: #f34b42;
  text-align: center;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Start Layout*/
.taco-logo {
  width: 377px;
  height: 257px;
}

.font-dosis {
  font-family: 'Dosis', sans-serif;
}

.btn-mar {
  margin-top: 10px;
}

.taco-img {
width: 53px;
height: 47px;
}

.textitle-color {
  color: white;

 }

 .size-menu {
   font-size: 2em;
 }

 .bcg-pink {
   background-color:#f34b42;

 }
